asgiref==3.8.1
Django==5.1.1
django-ckeditor-5==0.2.13
django-js-asset==1.2.2
pillow==10.4.0
python-dateutil==2.8.1
pytz==2020.1
sqlparse==0.5.1
urllib3==1.25.10
pycparser==2.21
setuptools==69.0.3
tzdata==2024.1
wheel==0.42.0