{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Crownex Blog Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Boxicon awesome icon -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>

    <!-- header -->
    <header>
      <nav class = "navbar">
        <div class = "container">
          <a href = "index.html" class = "navbar-brand">ADEWUMI DOYIN JOSEPHINE</a>
          <div class = "navbar-nav">
            <a href = "index.html">HOME</a>
            <a href = "articles.html">POSTS</a>
            <a href = "">ABOUT</a>
            <a href = "">CONTACT ME</a>
          </div>
        </div>
      </nav>
      <div class = "banner">
        <div class = "container">
          <h1 class = "banner-title">
            <span>EVERYTHING</span> FRAGRANCE
          </h1>
          <p>The hub for learning everything about scents and fragrance</p>
        </div>
      </div>
    </header>
    <!-- end of header -->
    
    <!-- featured -->
    <section class = "featured" id = "featured">
      <div class = "container">
        <div class = "title">
          <h2>Featured articles</h2>
        </div>

        <div class = "featured-content">
          <!-- item -->
          <div class = "featured-item">
            <div class = "featured-img">
              <img src = "images/sample.jpg" alt = "">
              <span><i class='bx bx-calendar-star'></i> Jan 1</span>
              <span>History of perfumes</span>
            </div>
            <div class = "featured-title">
              <a href = "#">Here is how perfumes came to reality</a>
            </div>
          </div>
          <!-- end of item -->  
        </div>
      </div>
    </section>
    <!-- end of featured -->

    <!-- about -->
    <section class = "about" id = "about">
      <div class = "container">
        <div class = "about-content">
          <div>
            <img src = "images/about.jpg" alt = "">
          </div>
          <div class = "about-text">
            <div class = "title">
              <h2>Adewumi Doyin Josephine</h2>
              <p>Perfumer and Fragrance Expert</p>
            </div>
            <p>I am Josephine, a perfumer and fragrance expert with over ten years of experience. I create unique scents by mixing old and new techniques. I specialize in custom fragrances, branding with scents, and teaching about fragrances. My love for scents and commitment to quality have made me a trusted consultant and a respected figure in the perfume world</p>
            <p>My love for scents and commitment to quality have made me a trusted consultant and a respected figure in the perfume world: My love for scents and commitment to quality have made me a trusted consultant and a respected figure in the perfume world</p>
          </div>
        </div>
      </div>
    </section>
    <!-- end of about -->

    <!-- footer -->
    <footer>
      <div class = "social-links">
        <a href = "#"><i class='bx bxl-facebook'></i></a>
        <a href = "#"><i class='bx bxl-twitter'></i></a>
        <a href = "#"><i class='bx bxl-instagram'></i></a>
        <a href = "#"><i class='bx bxl-github'></i></a>
      </div>
      <span>Adewumi Doyin Josephine 2024</span>
    </footer>
    <!-- end of footer -->
    
    
  </body>
</html>