{% extends "layout.html" %}
{% load static %}

{% block banner %}
<div class = "banner">
  <div class = "container">
    <h1 class = "banner-title">
      <span>EVERYTHING</span> FRAGRANCE
    </h1>
    <p>The hub for learning everything about scents and fragrance</p>
  </div>
</div>
{% endblock banner %}

{% block content %}
    
    <!-- featured -->
    <section class = "featured" id = "featured">
      <div class = "container">
        <div class = "title">
          <h2>Featured articles</h2>
        </div>

        <div class = "featured-content">
          <!-- item -->
          <div class = "featured-item">
            <div class = "featured-img">
              <img src = "{% static 'images/sample.jpg' %}" alt = "">
              <span><i class='bx bx-calendar-star'></i> Jan 1</span>
              <span>History of perfumes</span>
            </div>
            <div class = "featured-title">
              <a href = "#">Here is how perfumes came to reality</a>
            </div>
          </div>
          <!-- end of item -->  
        </div>
      </div>
    </section>
    <!-- end of featured -->

    <!-- about -->
    <section class = "about" id = "about">
      <div class = "container">
        <div class = "about-content">
          <div>
            <img src = "{% static 'images/about.jpg' %}" alt = "">
          </div>
          <div class = "about-text">
            <div class = "title">
              <h2>Adewumi Doyin Josephine</h2>
              <p>Perfumer and Fragrance Expert</p>
            </div>
            <p>I am Josephine, a perfumer and fragrance expert with over ten years of experience. I create unique scents by mixing old and new techniques. I specialize in custom fragrances, branding with scents, and teaching about fragrances. My love for scents and commitment to quality have made me a trusted consultant and a respected figure in the perfume world</p>
            <p>My love for scents and commitment to quality have made me a trusted consultant and a respected figure in the perfume world: My love for scents and commitment to quality have made me a trusted consultant and a respected figure in the perfume world</p>
          </div>
        </div>
      </div>
    </section>
    <!-- end of about -->
    {% endblock content %}